.logo{
    width: 100px;
}
.Cleomir{
    width: 150px;
}

h1{
    font-size: 150%; 
}
 h2{
    font-size: 110%;
 }
h3{
    font-size: 100%;
}
a.button{
    display:block;
    color:#555555;
    font-weight:bold;
    height:30px;
    line-height:29px;
    margin-bottom:14px;
    text-decoration:none;
    width:191px;
}

a:hover.button{
    color:#0066CC;
}
@media only screen and (max-width: 768px) 
{ 

ul{
display: flex;
flex-direction: column;
}
h1{
    font-size: 1.5rem;
}
html{
    font-size:100%;
}
 p{
font-size: 0.75rem;
 }   

 ul li a{
font-size:0.75rem;
 }
h1{
  text-align: center;
}
.Cleomir{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
} 